<%= form_for(@drawing) do |f| %>
  <% if @drawing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drawing.errors.count, "error") %> prohibited this drawing from being saved:</h2>

      <ul>
      <% @drawing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<div class='form_drawing'>
<div class='col-xs-2 form_discipline form_drawing_discipline'>
  <span>Discipline</span>
  <select class='form-control' name="drawing[discipline]">
    <option>Electrical</option>
    <option>Mechanical</option>
    <option>Arrangement</option>
    <option>Civil</option>
    <option>Instrumentation</option>
    <option>P&ID</option>
    <option>Piping</option>
    <option>Structural</option>
    <option>Others</option>
  </select>
</div>

<div class="input-group drawing-form-order-input">
  <input type="text" class="form-control" name='drawing[title]' placeholder="Title">
</div>
  
<div class="input-group drawing-form-order-input">
  <input type="text" class="form-control" name='drawing[area]' placeholder="Area Number Format eg. 504-231">
</div>

<div class="input-group drawing-form-order-input">
  <input type="text" class="form-control" name='drawing[order]' placeholder="Order Number Format eg. 504-231">
</div>

<div class="input-group drawing-form-order-input">
  <input type="text" class="form-control" name='drawing[tembec_drawing]' placeholder="Tembec Drawing Number Format eg. 504-231">
</div>

<div class="input-group drawing-form-order-input">
  <input type="text" class="form-control" name='drawing[vendor]' placeholder="Vendor Name">
</div>

<div class="input-group drawing-form-order-input">
  <input type="text" class="form-control" name='drawing[vendor_drawing_number]' placeholder="Vendor Drawing Number">
</div>

<div class="input-group drawing-form-order-input">
  <input type="text" class="form-control" name='drawing[sheet_number]' placeholder="Sheet Number">
</div>

<div class="input-group drawing-form-order-input">
  <input type="text" class="form-control" name='drawing[revision]' placeholder="Revision">
</div>

<div class="input-group drawing-form-order-input">
  <input type="text" class="form-control" name='drawing[equipment_number]' placeholder="Equipment Number">
</div>

<div class="input-group drawing-form-order-input">
  <input type="text" class="form-control" name='drawing[note]' placeholder="Note">
</div>

<div class="field">
  <%= f.label :cad %><br>
  <%= f.file_field :cad %>
</div>

<div class="field">
  <%= f.label :paper %><br>
  <%= f.check_box :paper %>
</div>

<div class="field">
  <%= f.label :hanging %><br>
  <%= f.check_box :hanging %>
</div>

<input type='Submit' value='Create' class="btn btn-primary drawing-submit"></input>
</div>

<% end %>
