<h1>Engineering Drawings</h1>

<div><%= link_to '<span class="glyphicon glyphicon-plus"> </span>  Add A New Drawing'.html_safe, new_drawing_path, :class => "btn btn-primary dropdown-toggle" %></div>
<div class='search-bar'>
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" name='search' class="form-control search-space" placeholder="Search" value='<%= params[:search]%>'>
      <button type="submit" class="btn btn-default search-submit"><span class="glyphicon glyphicon-search"></span> Search</button>
    </div>
  </form>
</div>

<div class='page-bar'><%= will_paginate @drawings, renderer: BootstrapPagination::Rails %></div>

<table class='table drawing table-striped'>
  <thead>
    <tr>
      <th><%= link_to 'Discipline', drawings_path(order: 'discipline') %></th>
      <th><%= link_to 'Area', drawings_path(order: 'area')%></th>
      <th><%= link_to 'Order', drawings_path(order: 'draft_order') %></th>
      <th><%= link_to 'Tembec drawing', drawings_path(order: 'tembec_drawing') %></th>
      <th><%= link_to 'Vendor', drawings_path(order: 'vender')%></th>
      <th><%= link_to 'Title', drawings_path(order: 'title') %></th>
      <th><%= link_to 'Date', drawings_path(order: 'date') %></th>
      <th><%= link_to 'Created At', drawings_path(order: 'created_at') %></th>
      <th><%= link_to 'Equipment Number', drawings_path(order: 'equipment_number') %></th>
      <th>Cad</th>
      <th>Paper</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @drawings.each do |drawing| %>
      <tr>
        <td><%= drawing.discipline %></td>
        <td><%= drawing.area %></td>
        <td><%= drawing.draft_order %></td>
        <td><%= drawing.tembec_drawing %></td>
        <td><%= drawing.vender %></td>
        <td><%= link_to drawing.title, drawing_path(drawing) %></td>
        <td><%= drawing.date %></td>
        <td><%= drawing.created_at.to_date %></td>
        <td><%= drawing.equipment_number %></td>
        <td><%= if drawing.attachment.present? 
                  link_to drawing.attachment_file_name, drawing.attachment.url(:original, false) 
                else 
                  link_to 'Upload', edit_drawing_path(drawing)    
                end %></td>
        <td><%= drawing.paper %></td>
        <td><%= drawing.notes %></td>
        <td><%= link_to 'edit', edit_drawing_path(drawing) %></td>
        <td><%= link_to 'delete', drawing_path(drawing), data: {:confirm => 'Are you sure?', method: :delete} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

