<p id="notice"><%= notice %></p>

<p>
  <strong>Discipline:</strong>
  <%= @drawing.discipline %>
</p>

<p>
  <strong>Order:</strong>
  <%= @drawing.draft_order %>
</p>

<p>
  <strong>Tembec drawing:</strong>
  <%= @drawing.tembec_drawing %>
</p>

<p>
  <strong>Vender:</strong>
  <%= @drawing.vender %>
</p>

<p>
  <strong>Vendor drawing number:</strong>
  <%= @drawing.vendor_drawing_number %>
</p>

<p>
  <strong>Sheet number:</strong>
  <%= @drawing.sheet_number %>
</p>

<p>
  <strong>Revision:</strong>
  <%= @drawing.revision %>
</p>

<p>
  <strong>Title:</strong>
  <%= @drawing.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @drawing.date %>
</p>

<p>
  <strong>Equipment number:</strong>
  <%= @drawing.equipment_number %>
</p>

<p>
  <strong>Cad:</strong>
  <%= @drawing.cad %>
</p>

<p>
  <strong>Paper:</strong>
  <%= @drawing.paper %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @drawing.notes %>
</p>

<p>
  <strong>Hanging:</strong>
  <%= @drawing.hanging %>
</p>

<%= link_to 'Edit', edit_drawing_path(@drawing) %> |
<%= link_to 'Back', drawings_path %>
