<p id="notice"><%= notice %></p>
<table class='table'>
<tr>
<td>
  <strong>Discipline:</strong>
</td>
<td>
  <%= @drawing.discipline %>
</td>

<td>
  <strong>Title</strong>
</td>

<td>
  <%= @drawing.title %>
</td>
</tr>

<tr>
<td>
  <strong>Tembec drawing:</strong>
</td>
<td>
  <%= @drawing.tembec_drawing %>
</td>
<td>
  <strong>Vender:</strong>
</td>
<td>
  <%= @drawing.vender %>
</td>
</tr>
<tr>
<td>
  <strong>Vendor drawing number:</strong>
</td>
<td>
  <%= @drawing.vendor_drawing_number %>
</td>
<td>
  <strong>Sheet number:</strong>
</td>
<td>
  <%= @drawing.sheet_number %>
</td>
</tr>
<tr>
<td>
  <strong>Revision:</strong>
</td>
<td>
  <%= @drawing.revision %>
</td>

<td>
  <strong>Order</strong>
</td>
<td>
  <%= @drawing.draft_order %>
</td>

</tr>
<tr>
<td>
  <strong>Date:</strong>
</td>
<td>
  <%= @drawing.date %>
</td>

<td>
  <strong>Equipment number:</strong>
</td>
<td>
  <%= @drawing.equipment_number %>
</td>
<tr>
<td>
  <strong>Cad:</strong>
</td>
<td>
  <%= link_to @drawing.attachment_file_name, @drawing.attachment.url %>
</td>
<td>
  <strong>Paper:</strong>
</td>
<td>
  <%= @drawing.paper %>
</td>

</tr>

<tr>
<td>
  <strong>Notes:</strong>
</td>
<td>
  <%= @drawing.notes %>
</td>
<td>
  <strong>Hanging:</strong>
</td>
<td>
  <%= @drawing.hanging %>
</td>
</tr>
</table>

<%= link_to 'Edit', edit_drawing_path(@drawing) if ['admin','superadmin'].include? current_user.role  %> |
<%= link_to 'Back', drawings_path %>
