<table class='table'>
<tr>
  <th>Account</th>
  <th>Last Name</th>
  <th>First Name</th>
  <th>Role</th>
  <th></th>
</tr>
<% @users.each do |user| %>
<tr>
  <td><%= user.account %></td>
  <td><%= user.last_name %></td>
  <td><%= user.first_name %></td>
  <td><%= user.role %></td>
  <td><% if current_user.role == 'superadmin' %>
      <%= link_to 'Delete', {:controller => :registrations, :action => :destroy, :id => user.id}, :method => :delete  %>
      <% end %>
</td>
</tr>
<% end %>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td><%= link_to 'Add A User', new_user_registration_url, class: 'btn btn-primary' %> </td>
</tr>
</table>



