<h1>Listing libraries</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Type</th>
      <th>Vendor</th>
      <th>Description</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.name %></td>
        <td><%= library.code %></td>
        <td><%= library.type %></td>
        <td><%= library.vendor %></td>
        <td><%= library.description %></td>
        <td><%= library.location %></td>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library', new_library_path %>
<%= link_to 'Drawings', drawings_path %>


