<h1>Listing equipment_manuals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Equipment number</th>
      <th>Company</th>
      <th>Model</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_manuals.each do |equipment_manual| %>
      <tr>
        <td><%= equipment_manual.title %></td>
        <td><%= equipment_manual.equipment_number %></td>
        <td><%= equipment_manual.company %></td>
        <td><%= equipment_manual.model %></td>
        <td><%= link_to 'Show', equipment_manual %></td>
        <td><%= link_to 'Edit', edit_equipment_manual_path(equipment_manual) %></td>
        <td><%= link_to 'Destroy', equipment_manual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment manual', new_equipment_manual_path %>
