<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @equipment_manual.title %>
</p>

<p>
  <strong>Equipment number:</strong>
  <%= @equipment_manual.equipment_number %>
</p>

<p>
  <strong>Company:</strong>
  <%= @equipment_manual.company %>
</p>

<p>
  <strong>Model:</strong>
  <%= @equipment_manual.model %>
</p>

<%= link_to 'Edit', edit_equipment_manual_path(@equipment_manual) %> |
<%= link_to 'Back', equipment_manuals_path %>
