<h1>Projects</h1>
<div><%= link_to '<span class="glyphicon glyphicon-plus"> </span>  Add A Project Report'.html_safe, new_project_path, :class => "btn btn-primary dropdown-toggle"%>
  <div class='search-bar'><form class="navbar-form navbar-left" role="search">
     <div class="form-group">
       <input type="text" class="form-control search-space" placeholder="Search">
       <button type="submit" class="btn btn-default search-submit"> <span class="glyphicon glyphicon-search"></span> Search</button>
     </div>
  </form>
</div>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Company</th>
      <th>Year</th>
      <th>Title</th>
      <th>Description</th>
      <th>Prepared by</th>
      <th>Area</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.company %></td>
        <td><%= project.year %></td>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.prepared_by %></td>
        <td><%= project.area %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>


