<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @iso.title %>
</p>

<p>
  <strong>Tage:</strong>
  <%= @iso.tage %>
</p>

<%= link_to 'Edit', edit_iso_path(@iso) %> |
<%= link_to 'Back', isos_path %>
