<%= form_for(@safety_manual) do |f| %>
  <% if @safety_manual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@safety_manual.errors.count, "error") %> prohibited this safety_manual from being saved:</h2>

      <ul>
      <% @safety_manual.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
